@namespace Code.Shared
@inherits CodeComponentBase
<MCard>
    <h3>
        Blazor 编辑器<br/>
        MIT开源协议
    </h3>
</MCard>
<MCard Style="margin-top: 5px;">
    <MIcon OnClick="()=>GoHref(GitHub)">
        mdi-github
    </MIcon>
</MCard>