@namespace Code.Shared

@inherits CodeComponentBase

<div class="setting">
    @foreach (var setting in settingOptions)
    {
        <MExpansionPanels @bind-Values="Panel" Dark="LayoutOptions.Dark" Class="mb-6">
            <MExpansionPanel Value="@setting.Code">
                <MExpansionPanelHeader ExpandIcon="mdi-menu-down">
                    @setting.Title
                </MExpansionPanelHeader>
                <MExpansionPanelContent>
                    <DynamicComponent Type="setting.Component"></DynamicComponent>
                </MExpansionPanelContent>
            </MExpansionPanel>
        </MExpansionPanels>
    }
</div>

<style>
    .setting {
    }
</style>