@namespace Code.Shared

@inherits CodeComponentBase

<div class="setting">
    <MExpansionPanels Dark="LayoutOptions.Dark"  Class="mb-6">
        <MExpansionPanel  accordion>
            <MExpansionPanelHeader  ExpandIcon="mdi-menu-down">
                编辑器设置
            </MExpansionPanelHeader>
            <MExpansionPanelContent>
                <EditorSetting></EditorSetting>
            </MExpansionPanelContent>
        </MExpansionPanel>
    </MExpansionPanels>
</div>

<style>
.setting{
    
}
</style>