@namespace Code.Shared

<div class="setting">
    <MExpansionPanels Class="mb-6">
        <MExpansionPanel accordion>
            <MExpansionPanelHeader ExpandIcon="mdi-menu-down">
                编辑器设置
            </MExpansionPanelHeader>
            <MExpansionPanelContent>
                <EditorSetting></EditorSetting>
            </MExpansionPanelContent>
        </MExpansionPanel>
    </MExpansionPanels>
</div>

<style>
.setting{
    
}
</style>